.vscode/*
*.json
test.dSYM/*
test
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.o
*.zip
*.txt
list
Makefile
*cmake
cmake*
mydriver
simple_example
mydriver*
.DS_Store